.mid-lower-text1
{
    padding-top: 50px;
   justify-content: center;
}
.para1 > p{
    text-align: center;
    color:white;
    font-weight: 600;
    font-size:30px;
    margin-bottom: 0;
}

.mid-lower-para2 > p{
    padding: 0 150px;
    text-align: center;
    color:rgba(209, 199, 199, 0.89);
    font-size: 14px;
    margin-top: 50px;
}

.floating-card-para
{
    display: block;
    margin: 40px 0;
}

.form-control{
    width:240px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    background:#7a3100;
    color:#fff;
}

#distAreas{
    display:none;
    width:600px;
    margin-right:auto;
    margin-left:auto;
    background:#fefefe;
    color:#7a3100;
    padding:20px;
}

#sel-district{
    width:240px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    background:#7a3100;color:#fff;
}

@media (max-width:768px){

    .mid-lower-para2 > p{
        padding: 0;
    }
}
