.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff!important;
    text-align: center;
    background-color: #ff6600!important;
    box-shadow: 0 0 10px 5px rgb(255 221 154);
    -moz-box-shadow: 0 0 10px 5px rgba(255,221,154,1);
    -webkit-box-shadow: 0 0 10px 5px rgb(255 221 154);
    -o-box-shadow: 0 0 10px 5px rgba(255,221,154,1);
}
.nav-pills > li > a {
    border-radius: 16px;
    text-align: center;
    background-color: #fff;
    color: #7a3100;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 10px 5px rgb(255 221 154);
    -moz-box-shadow: 0 0 10px 5px rgba(255,221,154,1);
    -webkit-box-shadow: 0 0 10px 5px rgb(255 221 154);
    -o-box-shadow: 0 0 10px 5px rgba(255,221,154,1); 
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 40px;
}

.nav > li > a:hover {
    background-color: #ff6600;
    color: white;
}

a {
    color: #337cbb;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.nav > li{
    margin-bottom: 35px;

}
.nav-stacked{
    display: flex;
    flex-direction: column;
}
.floater{
    display: flex;
    margin: 40px 0px;
}
.floating-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
}
.floating-buttons-info{
    position: relative;
    flex-basis: 70%;
}
.nav{
    width: 100%;
}

.floating-buttons-info > div{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    display: none;
   
}

.floating-buttons-info > div.active{
    display: block;
    position: relative;
}

.floating-buttons-info-images{
    padding: 0px 30px;
}


.floating-buttons-info-images > div  img{
    width: auto;
    height: auto;
    border-radius: 10px;

}



.floating-buttons-info-images > .col-md-6{
    position: relative;
    
}


.floating-buttons-info-images > .col-md-6 > a > div{
    position: relative;
    border-radius: 10px;
}

.floating-buttons-info-images > .col-md-6 > a > div::before{
    content: "";
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: #5e2600de;
    z-index: 1000;
    border-radius: 10px;
    display: none;
}

.floating-buttons-info-images > .col-md-6 > a:hover > div::before{
    display: block;
}

.overlaysymbol{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
}

.overlaysymbol > p{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 50px;    
}

.floating-buttons-info-images > .col-md-6 > a:hover .overlaysymbol{
    display: flex;
    z-index: 2000;
}

@media (max-width:768px){
    .floater{
        flex-direction: column;
    }

    .floating-buttons-info-images > .col-md-6{
        padding: 10px 0;
        
    }
}



